/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

#footer {
    background-color: #D7E2E6;
    
}

#footer, 
#footer a,
#footer h5 {
    color: #0A5064;
}
#footer a:hover {
    color: #FF004E;
}
#footer .copyright {
    color: #7E9098;
}
#footer .fbOpenSource {
    opacity: 1;
}